body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 20px;
}

.App {
  display: flex;
}

.App__tree-container,
.App__content-container {
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: auto;
}

.App__content-container {
  padding: 10px;
  min-width: 300px;
}

.App__tree-container + .App__content-container {
  margin-left: 4px;
}

.element {
  position: relative;
  cursor: pointer;
  padding: 3px 6px;
  border-width: 0;
  border-style: solid;
  border-radius: 4px;
  color: #333;
}

.File:hover {
  background-color: #ffdf85;
}

.Folder__name {
  font-weight: bold;
}

.Folder__name:hover {
  background-color: #a8d8ff;
}

.Folder__content {
  margin-left: 20px;
}

.TreeView {
  padding: 6px;
}

.TreeView {
  user-select: none;
}

.drop-zone {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  z-index: 1;
  opacity: 0.4;
}
